.track-search-container {
  position: relative;
  margin-left: 220px;
}

.track-search-container input {
  background: #fff;
  width: calc(100vw - 234px);
  height: 50px;
  font-size: 30px;
  border: none;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  padding: 4px 4px 4px 10px;
  outline: none;
}

.search {
  margin-left: 5px;
  cursor: pointer;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

button {
  background: none;
  border: none;
  outline: none;
}
