.track-search-container {
  position: relative;
  margin-left: 220px;
}

.track-search-container input {
  background: rgb(40, 40, 40);
  width: calc(100vw - 234px);
  height: 90px;
  font-size: 45px;
  border: none;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  padding: 4px 4px 4px 10px;
  outline: none;
  color: white;
  text-transform: capitalize;
}

.search {
  margin-left: 5px;
  cursor: pointer;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

button {
  background: none;
  border: none;
  outline: none;
}
